.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #efe7bc;
  font-family: "Barlow Condensed", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

#flutter,
#fscc,
#rr {
  height: 40%;
  width: 50%;
  border: 1px solid black;
}
#linked,
#git,
#paper {
  height: 7%;
  width: 7%;
  margin-left: 5%;
  margin-right: 2%;
}

#chopstick {
  height: 40%;
  width: 40%;
  margin-bottom: -25%;
}

#post {
  width: 60%;
  margin: 0 auto;
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 15%;
}

#projs,
#contacts,
#abouts {
  text-decoration: none;
  color: #e7f2f8;
  font-size: 200%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px black solid;
  padding-top: 2%;
  padding-bottom: 2%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffa384;
}
#softEng {
  color: white;
}
#greeting {
  margin-top: 20%;
  margin-bottom: 20%;
  color: #74bdcb;
  font-size: 160%;
}

p {
  color: #74bdcb;
}
a {
  text-decoration: none;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 2%;
}

textarea,
input {
  margin-bottom: 2%;
}

button {
  width: 20%;
}

#projects {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15%;
  font-size: 150%;
  font-weight: bold;
}
#pHead {
  font-size: 180%;

  margin-top: 10%;
}

#iconsrc{
  display: flex;
  flex-flow: row wrap;
  bottom: 0;
  justify-content: space-around;
}

.ilabel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}


#linL,
#gitL {
  margin-left: 10%;
  font-weight: bold;
  
}
#resL{
  font-weight: bold;
  margin-left: 2%;
}